#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

nav a {
  padding: 0.5rem;
}

input {
  margin: 0.5rem;
}

p {
  margin: 0.5rem;
}

p.success {
  color: green;
}

p.error {
  color: red;
}